* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
     /* Primary colors */
    --strong-cyan: hsl(172, 67%, 45%);
    /* Neutral colors */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan-inputs: hsl(185, 41%, 84%);
    --light-grayish-cyan-hovers: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);  
    /* font sizes */
    --form-inputs: 24px;
    --error: #E17457;
}

body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
}

h1 {
    color: var(--very-dark-cyan);
    font-weight: 400;
    text-align: center;
}

main{
    margin: 1.5rem auto;
}

.logo {
    margin-left: 10rem;
    
}

.calc__card {
    border-radius: 15px;
    background-color: var(--white);
    width: 375px;
    height: 790px;
    margin: 0 auto;
}

label {
    color: var(--dark-grayish-cyan);
    margin: 1rem 0 0 2rem;
}

.box__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.box__select
 {
    background-color: var(--very-dark-cyan);
    border-radius: 5px;
    border: none;
    width: 147px;
    height: 48px;
    color: var(--white);
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    margin: 15px 0;
    padding-top: 5px;
    font-weight: 700;
}

.box__select-1 {
    margin: 1rem 0 0 1rem;
}

.box__select-1:hover,.box__select-2:hover,
.box__select-4:hover, .box__select-3:hover, .box__select-5:hover {
    background-color: hsl(172, 56%, 74%);
}

.box__select-3 {
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    cursor: pointer;
    width: 147px;
    height: 48px;
    font-size: 24px;
    padding-top: 5px;
    font-weight: 700;
}

.box__select-4 {
    margin-top: -0.1rem;
}

.box__select-5 {
     margin: -0.1rem 0 0 1rem;
}

 .box__select-3 {
    margin: 0 0 0 1rem;
}

.receipt__bill {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--light-grayish-cyan-hovers);
    background-image: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 8px 17px;
    padding-left: 30px;
    width: 310px;
    height: 46px;
    margin: 1.5rem 0 0 2rem;
}

.person__input {
    border: none;
    outline: none;
    border-radius: 5px;
    background-image: url(../images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 8px 17px;
    padding-left: 30px;
    background-color: var(--light-grayish-cyan-hovers);
    width: 310px;
    height: 46px;
    margin: 2rem 0 0 2rem;
}

.person__input::placeholder {
    font-size: var(--form-inputs);
    color: var(--very-dark-cyan);
    font-weight: 700;
    padding-left: 15.5rem;
}

.receipt__bill::placeholder {
    color: var(--very-dark-cyan);
    font-size: var(--form-inputs);
    font-weight: 700;
    padding-left: 12rem;
}

.box__select-custom {
    border: none;
    border-radius: 5px;
    background-color: hsl(180, 26%, 95%);
    color: var(--very-dark-cyan);
    cursor: pointer;
    width: 147px;
    height: 48px;
    text-align: center;
    padding-top: 5px;
    font-size: var(--form-inputs);
    font-weight: 700;
}

.box__select-custom:hover {
    background-color: hsl(180, 60%, 88%);
}

.group__submission {
    border-radius: 5px;
}

.right__column {
    background-color: var(--very-dark-cyan);
    border-radius: 10px;
    width: 325px;
    height: 351px;
    margin: 1rem 0 0 1.5rem;
}

.right__column h2 {
    color: var(--white);
    margin: 1rem 0 -0.3rem 2rem;
}

.right__column p {
    color: var(--dark-grayish-cyan);
    margin: 1rem 0 0 2rem;
}

.right__column input {
    background-color: var(--very-dark-cyan);
    border: none;
    outline: none;
    margin: 1rem 0 0 30px;
    height: 30px;
    width: 119px;
}

.right__column input::placeholder {
    color: var(--strong-cyan);
    font-size: var(--form-inputs);
    font-weight: 400;
    padding-left: 4rem;
    padding: 40px;
}

.select-amount {
    display: flex;
    justify-content: space-around;
}

.btn-reset {
    border: none;
    border-radius: 5px;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    cursor: pointer;
    width: 282px;
    height: 49px;
    font-size: 24px;
    margin: 2rem 0 0 1.5rem;
}

.btn-reset:hover {
    background-color: hsl(172, 56%, 74%);
}

@media (min-width: 768px) {
    .logo {
        margin: 2.5rem 0 1rem 37rem;
    
    }
    
    main {
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }

    .calc__card {
        width: 920px;
        height: 483px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: 0 auto;
    }

    .left__col {
        width: 329px;
        height: 317px;
    }

    .receipt__bill, .person__input {
        width: 379px;
        height: 50px;
        margin: 4rem 0 0 0;
    }

    .right__column {
        width: 414px;
        height: 418px;
        margin: 1.5rem 0 0 1.5rem;
    }

    .select-amount {
        display: flex;
        justify-content: space-around;
    }

    .box__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .box__select{
        width: 117px;
        height: 47px;
    }

    .box__select-1 {
        margin: 1rem 1rem 0 0;
    }

    .box__select-3 {
        margin: 1rem 0 0 1rem;
    }

    .box__select-4 {
        margin: 0 1rem 0 0;
    }

    .box__select-5 {
        margin: 0;
    }

    .box__select-custom {
        margin-left: 1rem;
    }

    .btn-reset {
        width: 340px;
        height: 49px;
        margin: 5rem 0 0 2.3rem;
    }
}